extends layout
block content
  h1= title
  if (toShow == null) 
    h2 No instance to delete 
  else      
    - let Aeroplaneid = toShow._id
    - let travel_name = toShow.travel_name
    - let travel_price = toShow.travel_price
    - let travel_type = toShow.travel_type
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{Aeroplaneid}
    - let actionid = "/resource/Aeroplane/" + Aeroplaneid
    form(id='AeroplaneForm', action= actionid, method="PUT")
        div.form-group
            label.AeroplaneAttr(for='travel_name') Aeroplane type
            input#travel_name(type='text', name='travel_name', value= travel_name )
        div.form-group
            label.AeroplaneAttr(for='travel_type') Aeroplane size
            input#travel_type(type='number', name='travel_type', value= travel_type )
        div.form-group
            label.AeroplaneAttr(for='travel_price') Aeroplane name
            input#travel_price(type='text', name='travel_price', value= travel_price )
        input(type="submit")
    script.
        document.forms['AeroplaneForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
        });
        });