body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.AeroplaneAttr {
  background-color: aquamarine;
  width: 120px;
  }
  .design{
    color:blueviolet;
    background-color:darkturquoise;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .name{
    background-color:indianred;
    color:bisque;
    text-align:left;
  
  }
  .style{
    color:aqua;
    background-color:darkgrey;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
